ProyectoPrograIV/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFProyectoPrograIV" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFProyectoPrograIV" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Pago">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cuota" type="xs:float" />
      <xs:element minOccurs="0" name="IdAsociado" type="xs:int" />
      <xs:element minOccurs="0" name="IdOperacion" type="xs:int" />
      <xs:element minOccurs="0" name="IdPago" type="xs:int" />
      <xs:element minOccurs="0" name="Identificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IndParcial" type="xs:float" />
      <xs:element minOccurs="0" name="Interes" type="xs:float" />
      <xs:element minOccurs="0" name="MontoPago" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pago" nillable="true" type="tns:Pago" />
</xs:schema>